header {
        width: 100vw;
        height: 85vh;
        background-image: url(../img/hero14.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
}

.header-container {
        margin: 0rem auto;
        padding: 2rem;
        max-width: 860px;
        background-color: green;
        /*display: none;*/
}

header nav {
        margin: 1rem 0;
}

header h1 {
        font-size: 3rem;
        color: black;
        margin: 1rem 0;
        text-transform: uppercase;
}

nav a {
        color: black;
        text-decoration: none;
        font-size: 1.5rem;
        margin: 1rem;
        text-transform: uppercase;
}

.navigation-sm {
        /*display: none;*/
        /*margin: 0rem auto;*/
        padding: 0.5rem;
        background-color: orange;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: solid 1px white;
}

.navigation-sm h1 {
        font-size: 2.5rem;
}

.nav-sm a {
       margin: 2.5rem;
       font-size: 1.25rem;
}

.navigation-sm p {
        font-size: 1.2 rem;
}


.hero-text {
        margin: 0rem auto;
        padding: 2rem;
        background-color: blue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.hero-text h1 {
        font-size: 2.5rem;
}

.hero-text p {
        font-size: 2rem;
}
